# shellcheck disable=SC2148
AWS_PROFILE=$(basename "$(expand_path .)")
export AWS_PROFILE

# Let's be kind to ourselves and not time out every 60m
export AWS_ASSUME_ROLE_TTL=8h

##############################################
# Load Local Overrides and Check Environment #
##############################################

# Load a local overrides file. Any changes you want to make for your local
# environment should live in that file.

if [ -e .envrc.local ]
then
  source_env .envrc.local
fi
